@charset "utf-8";
$wrap: 1200px;
$small-wrap: 1200px;
$large-wrap: 100%;

/* ==========================================================================
   user custom css 用户自定义css
   ========================================================================== */

/* wrap setting 全局架构设定
   ========================================================================== */
.g-wrap {

}

/* typography base 排版，基本base使用
   ========================================================================== */
/**
 * 文章排版 .ui-article
 */
.ui-article {
  line-height: 2em;
}

/* components 组件/模块
   ========================================================================== */



/* pages 页面
   ========================================================================== */
