@charset "utf-8";
@import "normalize";

/* ==========================================================================
   user custom css
   ========================================================================== */

/* wrap setting 全局架构设定
   ========================================================================== */
.g-wrap {
   width: 1200px;
   margin: 0 auto;
}
.g-wrap .g-wrap-main{
   padding-top: 30px;
   background-color: #fff;
}
.g-wrap-banner {
   background: url('head-banner.png') no-repeat center;
   height: 310px;
}

.g-wrap .c-tc .c-tc-item {
   width: 360px;
}

.g-wrap .c-tc-head {
   height: 320px;
}

/* typography base 排版，基本base使用
   ========================================================================== */
/**
 * 文章排版 .ui-article
 */
.ui-article {
   line-height: 1.5em;
}


/* components 组件/模块
   ========================================================================== */
/**
 * 套餐模块
 */
.c-tc{
   text-align: center;
}
.c-tc .bg-setting {
   background-repeat: no-repeat;
   background-position: left top;
}

.c-tc .ui-article {
   color: #ff6860;
   font-weight: bold;
   font-size: 16px;
   padding: 10px 40px;
}

.c-tc .c-tc-item {
   position: relative;
   text-align: left;
   margin-left: 10px;
   margin-right: 10px;
   display: inline-block;
   *display: inline;
  *zoom: 1;
  *vertical-align: auto;
   vertical-align: top;
}

.c-tc .c-tc-head {
   background-image: url('module-head.png');
   height: 319px;
}

.c-tc .c-tc-head_title {
   height: 40px;
   line-height: 40px;
   text-align: center;
   font-weight: bold;
   color: #fff;
   font-size: 24px;
}

.c-tc .c-tc-head_tag {
   padding-top: 66px;
   padding-left: 58px;
   color: #ff9c00;
   font-size: 16px;
}

.c-tc .c-tc-head_price {
   top: -20px;
   position: relative;
   text-align: center;
}

.c-tc .c-tc-head_price {
   color: #ff6860;
   font-weight: bold;
}

.c-tc .c-tc-head_price__symbol {
   font-size: 36px;
}

.c-tc .c-tc-head_price__money {
   font-size: 48px;
}

.c-tc .c-tc-head_mark {
   padding-top: 28px;
   padding-left: 224px;
   width: 66px;
   height: 66px;
   text-align: center;
   font-weight: bold;
   line-height: 18px;
}

.c-tc .c-tc-head_mark__en {
   color: #ce4842;
}

.c-tc .c-tc-head_mark__cn {
   color: #fff;
}

.c-tc .c-tc-btn {
   background-image: url('module-btn.png');
   height: 82px;
   text-align: center;
}

.c-tc .c-tc-btn_sub {
   display: inline-block;
   width: 160px;
   height: 42px;
   line-height: 42px;
   text-align: center;
   font-weight: bold;
   font-size: 21px;
   color: #fff;
   margin-top: 3px;
   margin-right: 10px;
}

.c-tc .c-tc-middle {
   background-image: url('module-middle.png')
}

.c-tc .c-tc-bottom {
   background-image: url('module-footer.png');
   height: 16px;
   background-repeat: repeat-y;
   background-position: left top;
}

/* pages 页面
   ========================================================================== */